{% extends "base.html.twig" %}

{% block title %}
    Search By Price
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h4 class="text-center mt-3">Set the terms for your search</h4>
                <div>
                    {% if categories %}
                        
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="by_category">
                                <label class="form-check-label" for="by_category">
                                    Search by category
                                </label>
                            </div>
                                <select id="category_choice" name="category" class="custom-select" disabled>
                                    <option id="default" selected>Select a category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                        </div>

                    {% endif %}
                    <div id="price-form" class="form-group">
                        <label for="price">Max price</label>
                        <input id="price" name="price" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="order" id="ascending" value="ASC" checked>
                            <label class="form-check-label" for="ascending">
                                Ascending by price
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="order" id="descending" value="DESC">
                            <label class="form-check-label" for="descending">
                                Descending by price
                            </label>
                        </div>
                    </div>
                    <button id="search" class="btn btn-success">Search</button>
                </div>
                <div id="results" class="py-2">
                    {# <div id="spinner" class="text-center"><i id="spinning" class="fas fa-atom"></i></div> #}
                    
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/price_ajax.js') }}"></script>
{% endblock %}